.part1 {
    font-family: serif; /* 衬线字体 */
    font-size: 30px;
    font-style: italic; /* 斜体 */
}
.part2 {
    font-family: sans-serif; /* 非衬线字体 */
    font-size: 75%;
    font-weight: bold;
}
.part3 {
    font-family: monospace; /* 等宽字体 */
    font-size: 20px;
    font-weight: 100;
}
p {
    font: italic bolder 30px serif;
}

.text1 {
    /* color: red; */
    /* color: #ff0000; */
    color: rgb(155, 0, 50);
    line-height: 50px;
    text-align: left;
    text-indent: 20px;
    text-decoration: overline;
}
.text2 {
    font-size: 40px;
    /* direction: rtl; */
    text-indent: 2em;
    text-decoration: line-through;
    letter-spacing: 10px;
    text-shadow: 5px 5px 2px yellow;
}

.size {
    background-color: yellow;
    width: 50px;
    height: 50px;
    max-width: 100px;
    min-height: 60px;
}

#unordered_list_1 {
    list-style-image: url(./location_icon.png);
    list-style-position: inside;
    list-style-type: circle;
}
#unordered_list_2 {
    list-style-type: decimal;
}
#unordered_list_3 {
    list-style-type: square;
}

#bg_1 {
    height: 200px;
    background-color: turquoise;
}
#bg_2 {
    height: 1000px;
    background-image: url(./Ribery.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    /* background-attachment: fixed; */
    background-attachment: scroll; /* default value */
}